<ng-container *ngIf="!isAddingPlayer">
  <div class="text-4xl font-medium text-black mx-auto">{{ team.year }}</div>

  <div class="mb-3">
    <span class="text-l font-medium text-black">Coach : </span>
    <span class="text-slate-500">{{ team.coach | titlecase }}</span>
  </div>
  
  <div class="flex justify-between">
    <h3>Composition de l'équipe</h3>
    <button mat-button color="primary" (click)="isAddingPlayer = true">Ajouter un joueur</button>
  </div>
  
  <app-team-players [players]="team.players" (captainChanged)="refreshTeam()"></app-team-players>
</ng-container>

<app-add-team-member *ngIf="isAddingPlayer" [team]="team" (finished)="onAddingPlayerFinished($event)"></app-add-team-member>
